.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 0 75px;
  background: #414141;

  img {
    cursor: pointer;
  }

  &-collapse {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 75px;
    top: 64px;
    padding: 0 0 10px 10px;
    z-index: 9;

    &__text {
      text-align: left;
      color: #fff;
      padding: 20px 100px 20px 40px;
      background: #777777;
      border-bottom: 1px solid #2E2E2E;
      cursor: pointer;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 50px;

    &__notification {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      text-align: center;
      line-height: 16px;
      background: #EA6C00;
      color: #fff;
      font-size: 10px;
      font-weight: 400;
      position: absolute;
      top: 16px;
      right: 226px;
    }

    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__menu {
      cursor: pointer;
    }

    &__text {
      padding-left: 10px;
      color: #fff;
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
    }

    &__active {
      color: #FF963C;
    }
  }
}